<div class="col-md-12 d-flex bg-info">
    <h1 class="text-light m-2 ps-2" style="background-color: pink;width: 2.5rem; font-weight: bold;">E</h1>
    <h1 style="font-weight: bold;" class="text-light float-left mt-2">SHOP</h1>
</div>